[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=sailfish-python
Icon=icon-launcher-component-gallery
Exec=sailfish-qml sailfish-python
